"*":
  "autoclose-html":
    forceBlock: [
      "head"
      "body"
      "section"
      "aside"
      "article"
    ]
    forceInline: [
      "ul"
      "ol"
      "li"
      "pre"
      "code"
      "h1"
      "h2"
      "h3"
      "h4"
      "h5"
    ]
  core:
    disabledPackages: [
      "css-color-highlight"
    ]
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
    ]
    themes: [
      "atom-dark-ui"
      "one-dark-syntax"
    ]
  editor:
    invisibles: {}
    showIndentGuide: true
  "exception-reporting":
    userId: "04c47123-d7ad-dd8f-f4a4-a042adb410ac"
  "go-plus":
    goPath: "/Users/clarence/dev/golang"
  "ide-haskell": {}
  jshint:
    supportLintingJsx: true
  "language-babel":
    suppressTranspileOnSaveMessages: true
  linter: {}
  "markdown-preview":
    grammars: [
      "source.gfm"
      "source.litcoffee"
      "text.plain"
      "text.plain.null-grammar"
    ]
  metrics:
    userId: "4d34e59dd449074590f53773346b1f0cee8b0d31"
  "one-dark-ui": {}
  pigments: {}
  react: {}
  "release-notes":
    viewedVersion: "0.95.0"
  "tree-view":
    hideVcsIgnoredFiles: true
  "vim-mode": {}
  welcome:
    showOnStartup: false
